.movies-cards {
  max-width: 1140px;
  margin: auto;
  padding: 70px 0px 80px;
  box-sizing: border-box;
}

.movies-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 24px 27px;
  padding: 0;
  margin: 0;
}

.movie__bottom-button {
  color: #ffffff;
  background: #2f2f2f;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border: none;
  width: 320px;
  height: 36px;
  cursor: pointer;
  padding: 0;
  margin: 60px auto 0;
  display: block;
}

.movies__not-found {
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.display-none {
  display: none;
}

@media screen and (max-width: 1180px) {
  .movies-cards {
    padding: 70px 30px 80px;
  }
}

@media screen and (max-width: 720px) {
  .movies-cards {
    padding: 40px 10px 0;
  }

  .movies-card-list {
    gap: 14px;
  }

  .movie__bottom-button {
    width: 240px;
    margin-top: 76px;
    margin-bottom: 80px;
  }
}
