.portfolio {
    max-width: 1280px;
    box-sizing: border-box;
    padding: 0px 70px 85px;
    margin: auto;
}

.portfolio__title {
    color: #8B8B8B;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
}

.portfolio__links {
    color: white;
    list-style: none;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    padding: 50px 0 0;
    margin: 0;
}

.portfolio__list {
    border-bottom: 1px solid #424242;
    padding-bottom: 19px;
    padding-top: 20px;
}

.portfolio__list:first-of-type {
    padding-top: 0;
}

.portfolio__list:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

.portfolio__list:hover {
    opacity: 0.6;
    transition: all 500ms ease;
    cursor: pointer;
}

.portfolio__link {
    color: white;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

@media screen and (max-width: 968px) {
    .portfolio {
        padding: 0px 50px 90px;
    }

    .portfolio__links {
        font-size: 28px;
    }
}

@media screen and (max-width: 720px) {
    .portfolio {
        padding: 0px 14px 70px;
    }

    .portfolio__title {
        font-size: 14px;
        line-height: 20px;
    }

    .portfolio__links {
        font-size: 18px;
        line-height: 28px;  
        padding-top: 40px;
    }
}