.register {
    max-width: 396px;
    margin: auto;
    padding-top: 70px;
}

.register__button {
    margin-top: 69px;
}

.errr {
    color: lightgoldenrodyellow;
}

@media screen and (max-width: 440px) {
    .register__button {
        margin: 157px auto 0;
        display: block;
    }
}